<salla-button onclick="${1}">Click Me!</salla-button>

<salla-modal id="${2}" title="${3}" sub-title="${4}" icon="${5}" position="${6}" width="${7}" is-closable="${8}">

  Lorem mollit do dolore ipsum officia aliquip reprehenderit pariatur incididunt officia consectetur laborum.

  <div slot="footer">
    <salla-button width="${10}" onclick="${11}">Close</salla-button>
  </div>
</salla-modal>
