<salla-button width="${1}" onclick="${2}">Login Component</salla-button>

<salla-login-modal id="${3}" is-email-allowed="true" is-email-required="true" is-mobile-allowed="true">
  <div slot="${4}">
    Custom Slot #1
  </div>

  <div slot="${5}">
    Custom Slot #2
  </div>
</salla-login-modal>
