<salla-button onclick="${1}">Offer Modal</salla-button>

<salla-offer-modal>

  <div slot="header">
    <p>{name}</p>
    <p>{message}</p>
  </div>

  <div slot="category">
    <p>{name}</p>
    <p>{url}</p>
  </div>
  
  <div slot="product">
    <p>{name}</p>
    <p>{url}</p>
    <p>{image}</p>
    <p>{price}</p>
  </div>

</salla-offer-modal>
