<salla-button fill="${1}" color="${2}" onclick="${3}">
  Open Localization
</salla-button>

<salla-localization-modal id="${4}" language="ar" currency="sa">
  <div slot="currency">
    {name} {currency} {country_code}
  </div>
  <div slot="language">
    {name} {currency} {country_code}
  </div>
</salla-localization-modal>
